<md-progress-spinner *ngIf="loading" mode="indeterminate" color="primary"
  style="text-align: center;margin: 5em auto;"></md-progress-spinner>
<td-layout-card-over *ngIf="!loading" cardWidth="90">
  <div layout="column" layout-margin>
    <div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm">
      <span *ngIf="!searchBox.searchVisible" class="push-left-sm">
        <span class="md-title">Reservas</span>
      </span>
      <td-search-box #searchBox backIcon="arrow_back" class="push-right-sm" placeholder="Buscar por motivo" (searchDebounce)="search($event)" flex>
      </td-search-box>
      <button md-icon-button [mdMenuTriggerFor]="menu">
        <md-icon>filter_list</md-icon>
      </button>
      <md-menu #menu="mdMenu">
        <button md-menu-item (click)="toggleFilter('caducada', !mostrarCaducadas)" >
          {{mostrarCaducadas?'Ocultar':'Mostrar'}} Caducadas
        </button>
        <button md-menu-item (click)="toggleFilter('anulada', !mostrarAnuladas)" >
          {{mostrarAnuladas?'Ocultar':'Mostrar'}} Anuladas
        </button>
      </md-menu>
    </div>
    <td-data-table
      [data]="filteredData"
      [columns]="columns"
      [multiple]="false"
      [sortable]="true"
      [sortBy]="sortBy"
      [sortOrder]="sortOrder"
      (sortChange)="sort($event)"
      (rowSelect)="selected($event)">
        <template tdDataTableTemplate="Anulada" let-value="value" let-row="row" let-column="column">
          <div layout="row">
            <md-icon class="pad-right-xs push-xs">{{displayIcon(row)}}</md-icon>
            <span flex>
              {{displayStatus(row)}}</span>
          </div>
        </template>
        <template tdDataTableTemplate="Detalle" let-value="value" let-row="row" let-column="column">
          <div layout="row">
            <button md-icon-button
              [routerLink]="['/reservas/detalle', row.ID]">
              <md-icon>details</md-icon>
            </button>
          </div>
        </template>
    </td-data-table>
    <td-paging-bar [pageSizes]="[10, 15, 20]" [total]="filteredTotal" (change)="page($event)"></td-paging-bar>
  </div>
</td-layout-card-over>
