@import '~@angular/material/core/theming/all-theme';
@import '~@covalent/core/theming/all-theme';

@include md-core();

$primary: md-palette($md-indigo);
$accent:  md-palette($md-amber, 600, A100, A400);

$warn:    md-palette($md-red, 600);

$theme: md-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
@include covalent-theme($theme);