  <md-card class="bgc-grey-200">
  <md-card-title>
    <div layout="row" layout-align="start center">
      <div>{{sala.nombre}}</div>
      <div flex></div>
      <button md-icon-button style="margin: auto 0">
        <md-icon>edit</md-icon>
      </button>
      <button md-icon-button style="margin: auto 0">
        <md-icon>delete</md-icon>
      </button>
    </div>
  </md-card-title>
  <md-card-content>
    <p>{{detail}}</p>
  </md-card-content>
  <md-card-actions>
    <button md-raised-button color="primary">Reservar</button>
  </md-card-actions>
</md-card>
