<md-card class="bgc-grey-200">
  <md-card-title>
    <div layout="row" layout-align="start center">
      <div>{{sala.Nombre}}</div>
      <div flex></div>
      <button md-icon-button class="btn-margin" [routerLink]="['/salas/editar', sala.ID]">
        <md-icon>edit</md-icon>
      </button>
      <button md-icon-button class="btn-margin" (click)="confirmarEliminar()">
        <md-icon>delete</md-icon>
      </button>
    </div>
  </md-card-title>
  <md-card-content>
    <p>{{detail}}</p>
  </md-card-content>
  <md-card-actions>
    <button md-raised-button color="primary">Reservar</button>
  </md-card-actions>
</md-card>
